#grid {
  height: 500px;
  width: 500px;
  //background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#grid table {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  table-layout: fixed;
}

td:hover {
  background-color: yellow;
}