#grid {
  height: 500px;
  width: 500px;
  //display: none;
  margin-left: auto;
  margin-right: auto;
  /*position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);*/
}

#grid table {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  table-layout: fixed;
}

header {
  width: 100%;
  height: 125px;
}

header h1 {
  float: left;
  display: inline-block;
  padding: 30px 40px;
  margin: 0;
}

header form {
  display: inline-block;
  height: 101px;
  width: 265px;
  margin: auto;
  padding: 0 40px;
}

header form #gsize {
  width: 175px;
}

header button {
  float: right;
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 15px 40px;
  border: 2px solid grey;
  text-decoration: none;
}